.cart-containers {
    margin: 20px;
  }
  
  .export-buttons {
    margin-bottom: 20px;
  }
  
  .export-buttons button {
    margin-right: 10px;
  }
  
  .charts {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .chart {
    width: 100%;
    max-width: 500px;
  }

  
  :host ::ng-deep .ngx-charts text {
    fill: var(--chart-color) !important;
  }
  